body {
  margin: 0;
  background-color: #d6905a;
}

button {
  color: black;
  font-weight: bolder;
  background-color: #52c79c;
  font-family: fantasy;
  min-width: 100px;
  min-height: 50px;
}

#js-btn::first-letter{
  font-size: 300%;
}
